<!DOCTYPE html>
<html>
  <head>
    <title>向内向外 - HOMEPAGE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel='stylesheet' href='/stylesheets/font.css' />
    <link rel='stylesheet' href='/stylesheets/all.css' />
      <link rel='stylesheet' href='/stylesheets/homePage.css' />
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
  </head>
  <body>
  <div class="box rowBox">
      <div class="leftArea">
          <div class="navbar">
              <ul>
                  <li>
                      <div class="bigMenu" style="display: block"><a href="/">HOMEPAGE</a></div>
                      <div class="smallMenu"><a href="/">HOMEPAGE</a></div>
                  </li>
                  <li>
                      <div class="bigMenu" style="display: none"><a href="/case">CASE</a></div>
                      <div class="smallMenu"><a href="/case">CASE</a></div>
                  </li>
                  <li>
                      <div class="bigMenu" style="display: none"><a href="/we">WE</a></div>
                      <div class="smallMenu"><a href="/we">WE</a></div>
                  </li>
                  <li>
                      <div class="bigMenu" style="display: none"><a href="/newCustomers">NEW CUSTOMERS</a></div>
                      <div class="smallMenu"><a href="/newCustomers">NEW CUSTOMERS</a></div>
                  </li>
                  <li>
                      <div class="bigMenu" style="display: none"><a href="/joinUs">JOIN US</a></div>
                      <div class="smallMenu"><a href="/joinUs">JOIN US</a></div>
                  </li>
              </ul>
          </div>
      </div>
      <div class="centerArea">
          <div class="homePageCoverBox">
            <img src="/images/qy.jpg">
          </div>
      </div>
      <div class="rightArea box columnBox">
          <div class="logoBox">
              <img src="/images/logo-big.png">
          </div>
          <div class="xnxwMsgBox">

          </div>
          <div class="copyrightBox">
              <span>©2018 XNXW design inc.<br/>All Rights Reserved.</span>
          </div>
      </div>
  </div>
  </body>
</html>
