<!DOCTYPE html>
<html>
<head>
    <title>向内向外 - JOIN US</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome 1to <%= title %></p>
</body>
</html>
